<div class="navbar navbar-innverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)"><img src="/images/logo-white3.png" class="headerLogoDash"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


							<ul class="nav navbar-nav navbar-right">
							   <li><a href="/">Home</a></li>
							   <li><a href="#">About us</a></li>
							   <li><a href="/login">Login</a></li>
								
								
							</ul>
						</div><!-- /.navbar-collapse -->
   
  </div>
</div>

<div class="container">
   <h2 class="pageheader">{{title}}</h2>
   <p class="semibold">We are Glow Perfect professional beauty services company, providing wide range of beauty services to you at the convenience of your name at affordable price. with our website your just a request away to your desired beauty service.</p>
    <br/>
   <p class="semibold">Our certified beautician's provided the following services</p>
   <ul class="servicesUL">
       
       <li>Threading</li>
       <li>Facial</li>
       <li>Bleach</li>
       <li>Tan Removal</li>
       <li>Make up</li>
       <li>Clean up</li>
       <li>Pedicure</li>
       <li>Manicure</li>
       <li>Nail art</li>
       <li>Hair Spa</li>
       <li>Hair Cut</li>
       <li>Waxing</li>


   </ul>
</div>



<div class="container">
   <h2 class="pageheader">About our Web Portal</h2>
   <p class="semibold">Our web portal is Developed and maintained by <a href="http://prdesigns.co"><b>prdesings.co</b></a> an we development firm based in Bangalore with over 5+ years experience in web development. </p>
    <br/>
 
</div>