
<h1 style="display:none;">{{title}}</h1>
<div class="container-fluid setsliderBG indexpage">
	<div class="container">
		<div class="row">
			<div class="col-md-12 removePadd">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#"><img src="/images/logo-white3.png" class="headerLogo"></a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


							<ul class="nav navbar-nav navbar-right">
								<li><a href="/about">About</a></li>
								<li><a href="#">Contact</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/login">Login</a></li>
										{{!-- <li><a href="#">Sign Up</a></li> --}}

									</ul>
								</li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</div>
			<div class="col-md-12 animated slideInLeft">
				<br><br><br>
				<h1 class="alnCenter colorWhite">Professional beauty services at your doorstep</h1>
				<p class="animated slideInLeft alnCenter colorWhite">Choose from a wide range of services we offer at affordable prices</p>
				<br>

				<h3 class="alnCenter socialicons animated slideInLeft"> <i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i> <i class="fa fa-pinterest"></i></h3>

				<br><br><br>
			</div>
		</div>
	</div>
</div>   



<div class="container-fluid services">
	<div class="row">
		<div class="col-md-3 col-xs-6">
			<img class="" src="/images/services/threading.jpg">
			<div class="grdlayer"></div>
			<div class="posAbsolute">
				<h3>Threading</h3>
				<button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#getService"> Book Now</button>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<img class="" src="/images/services/facial.jpg">
			<div class="grdlayer"></div>
			<div class="posAbsolute">
				<h3>Facial</h3>
				<button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#getService"> Book Now</button>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<img class="" src="/images/services/bleach.jpg">
			<div class="grdlayer"></div>
			<div class="posAbsolute">
				<h3>Bleach</h3>
				<button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#getService"> Book Now</button>
			</div>
		</div>

		<div class="col-md-3 col-xs-6 addPadd">
			<img class="" src="/images/services/waxing.jpg">
			<div class="grdlayer"></div>
			<div class="posAbsolute">
				<h3>Waxing</h3>
				<button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#getService"> Book Now</button>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<img class="" src="/images/services/tanremoval.jpg">
			<div class="grdlayer"></div>
			<div class="posAbsolute">
				<h3>Tan Removal</h3>
				<button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#getService"> Book Now</button>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<img class="" src="/images/services/pedicure.jpg">
			<div class="grdlayer"></div>
			<div class="posAbsolute">
				<h3>Pedicure</h3>
				<button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#getService"> Book Now</button>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<img class="" src="/images/services/manicure.jpg">
			<div class="grdlayer"></div>
			<div class="posAbsolute">
				<h3>Manicure</h3>
				<button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#getService"> Book Now</button>
			</div>
		</div>

		<div class="col-md-3 col-xs-6 addPadd">
			<img class="" src="/images/services/hairspa.jpg">
			<div class="grdlayer"></div>
			<div class="posAbsolute">
				<h3>Hair Spa</h3>
				<button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#getService"> Book Now</button>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<img class="" src="/images/services/haircut.jpg">
			<div class="grdlayer"></div>
			<div class="posAbsolute">
				<h3>Hair Cut</h3>
				<button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#getService"> Book Now</button>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<img class="" src="/images/services/cleanup.jpg">
			<div class="grdlayer"></div>
			<div class="posAbsolute">
				<h3>Clean up</h3>
				<button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#getService"> Book Now</button>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<img class="" src="/images/services/makeup.jpg">
			<div class="grdlayer"></div>
			<div class="posAbsolute">
				<h3>Make Up</h3>
				<button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#getService"> Book Now</button>
			</div>
		</div>

		<div class="col-md-3 col-xs-6 addPadd">
			<img class="" src="/images/services/nailart.jpg">
			<div class="grdlayer"></div>
			<div class="posAbsolute">
				<h3>Nail Art</h3>
				<button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#getService"> Book Now</button>
			</div>
		</div>
	</div>


</div>


<div class="container-fluid">
	<footer class="alnCenter">
		<p>

		</p>
		<a href="#">sitemap</a>
		<a href="#">about</a>
		<a href="http://prdesigns.co">Copyright &copy; 2017 PrDesigns</a>
	</footer>
</div>

<!-- Button trigger modal -->
{{!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
Launch demo modal
</button> --}}

<div class="modal" id="getService">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Order services</h4>
			</div>
			<div class="modal-body">

				<form class="form-horizontal" action="/signupappointment" method="post">			
                     
                      {{#if email}}
                      <div class="alert alert-danger ">Email id <b class="emailpresent">{{email}}</b> has already been registered, Please log in</div>
                         {{/if}}


					<div class="form-group" style="margin-top: 0;"> 
						
						<div class="col-md-3 col-xs-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="checks" value="Threading"> Threading
								</label>									
							</div>
						</div>


						<div class="col-md-3 col-xs-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="checks" value="Facial"> Facial
								</label>									
							</div>
						</div>


						<div class="col-md-3 col-xs-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="checks" value="Bleach"> Bleach
								</label>									
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="checks" value="Waxing"> Waxing
								</label>									
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="checks" value="TanRemoval"> Tan Removal
								</label>									
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="checks" value="Pedicure"> Pedicure
								</label>									
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="checks" value="Manicure"> Manicure
								</label>									
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="checks" value="HairSpa"> Hair Spa
								</label>									
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="checks" value="HairCut"> Hair Cut
								</label>									
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="checks" value="CleanUp"> Clean Up
								</label>									
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="checks" value="makeup"> Make Up
								</label>									
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="checks" value="nailart"> Nail Art
								</label>									
							</div>
						</div>
						
					</div>

					<div class="row addPad">
			
						<div class="col-md-12 addPad">
							<br>
							<div class="form-group label-floating">

								<label class="control-label" for="locality">Locality</label>
								<select class="form-control" id="locality" name="locality" required="required">
									<option value=""> </option>
									<option value="nagavara">Nagavara</option>
									<option value="hbrlayout">HBR Layout</option>
									<option value="kammanhalli">Kammanhalli</option>
									<option value="kalyanagar">Kalyanagar</option>
									<option value="hegdenagar">Hegdenagar</option>


								</select>
								<p class="help-block">You will be able to login with same later</p>
							</div>
						</div>
                        

                        <div class="col-md-12 addPad">

							<div class="form-group label-floating">

								<label class="control-label" for="name">Name</label>
								<input class="form-control" id="name" name="name" type="text" required="required">
								
							</div>
						</div>


						<div class="col-md-12 addPad">

							<div class="form-group label-floating">

								<label class="control-label" for="email">Email</label>
								<input class="form-control" id="email" name="email" type="email" required="required">
								<p class="help-block">You will be able to login with same later</p>
							</div>
						</div>


						<div class="col-md-12 addPad">

							<div class="form-group label-floating">

								<label class="control-label" for="tel">Mobile No</label>
								<input class="form-control" id="tel" type="tel" name="tel" required="required">

							</div>
						</div>


						<div class="col-md-12 addPad">

							<div class="form-group label-floating">

								<label class="control-label" for="password">password</label>
								<input class="form-control" id="password" type="password"  autocomplete="off" name="password" required="required">
								<p class="help-block">You will be able to login with same later</p>
							</div>
						</div>


					</div>


					<div class="form-group">
						<div class="row addPad">
							<div class="col-md-6 col-xs-6">
								<button type="button" class="btn btn-default btn-raised btn-block">Cancel</button>

							</div>

							<div class="col-md-6 col-xs-6">

								<button type="submit" class="btn btn-primary btn-raised btn-block">Submit</button>
							</div>
						</div>
					</div>
					
				</form>

















			</div>
			{{!-- 		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>
		</div> --}}
	</div>
</div>
</div>





<script type="text/javascript">		
	

	$(function(){

		var intlength=$('.services .col-md-3 img').length;
		var index=0;
		var intv = setInterval(function(){

			if(index>intlength){ clearInterval(intv)}
				else{
					$('.services .col-md-3 img:eq('+index+')').attr('class','animated flipInY');
					index +=1;
				}

			},200)

	});




</script>
