<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Beauty parlour in bangalore offering professional beauty services at the convience of your home at afforadable price">

	<meta property="og:title" content="GlowPerfect" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://glowperfect.herokuapp.com" />
	<meta property="og:image" content="http://glowperfect.herokuapp.com/images/webfacebook.jpg" />
	<meta property="og:description" content="Beauty parlour in bangalore offering professional beauty services at the convience of your home at afforadable price. Book now to avail services and manage your appointments." />


	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto+Slab:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-material-design.min.css">
	<link rel="stylesheet" type="text/css" href="/css/ripples.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="/js/material.min.js"></script>
	<script type="text/javascript" src="/js/ripples.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	{{{body}}}

	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
